include LICENSE
include *.rst
include *.md
include Makefile
include tox.ini
recursive-include tests *.py
recursive-include examples *.py *.txt
graft docs
prune docs/_build
global-exclude __pycache__
global-exclude *.py[co]